@model RiddleViewModel

@{
    ViewData["Title"] = "Edit";
}
<h4>Riddle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            @Html.HiddenFor(model => model.Id)

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger">model.Question</span>
            </div>

            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Difficulty" class="control-label"></label>
                <input asp-for="Difficulty" type="number" class="form-control" />
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary btn-lg"><i class="fa"></i>Edit</button>

        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}